@model CI_PLATFORM.Entities.ViewModels.VolunteerTimesheetviewmodel
@inject IHttpContextAccessor Accessor;
@{
    var userid_session = @Accessor.HttpContext.Session.GetString("userid");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/VolunteeringTimeSheet.css">
</head>
<body>
    <partial name="header" model="Model" />
    <div class="container my-3">
        <p class="display-6">Volunteering Timesheet</p>
        <div class="row  gap-2 mx-2">
            <div class="col  border p-4 mt-2">
                <div class="d-flex justify-content-between">
                    <span class="align-self-center">Volunteering Hours</span>
                    <button class="apply btn rounded-pill" data-bs-toggle="modal" onclick="getmissions();" data-bs-target="#staticBackdrop1"> + Add</button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Please input below volunteering hours</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" asp-action="VolunteeringTimesheet" asp-controller="Volunteer">
                                    <div class="modal-body">
                                        <div class="d-flex flex-column">
                                            <label for="missionid">Mission</label>
                                            <select asp-for="missionid" id="missionTime">
                                            </select>
                                            <span asp-validation-for="missionid" class="text-danger"></span>

                                        </div>
                                        <div class="d-flex flex-column mt-2">

                                            <label for="dateTime">Date Volunteered</label>
                                            <input type="date" asp-for="date" placeholder="select date" />
                                            <span asp-validation-for="date" class="text-danger"></span>

                                        </div>
                                        <div class="d-flex mt-2 justify-content-between">
                                            <div class="d-flex flex-column">
                                                <label for="hour">Hours</label>
                                                <input type="number" asp-for="hour" />
                                                <span asp-validation-for="hour" class="text-danger"></span>
                                            </div>
                                            <div class="d-flex flex-column mt-8">
                                                <label for="minute">Minutes</label>
                                                <input type="number" asp-for="minute" />
                                                <span asp-validation-for="minute" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label for="messageTime">Message</label>
                                            <textarea asp-for="message" placeholder="Enter your message"></textarea>
                                            <span asp-validation-for="message" class="text-danger"></span>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn apply rounded-pill edit" data-bs-dismiss="modal">Submit</button>
                                        </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="w-100 mt-2">
                    <thead>
                        <tr>
                            <th>Mission</th>
                            <th>Date</th>
                            <th>Hour</th>
                            <th>Minute</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mission in Model.TimeMission)
                        {
                            <tr>
                                <td id="mission-@mission.MissionId">@mission.Mission.Title</td>
                                <td>@mission.DateVolunteered.ToString("d")</td>
                                <td class="ps-2">@mission.Time?.ToString("hh")</td>
                                <td class="ps-2">@mission.Time?.ToString("mm")</td>
                                <td class="p-2"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="edit('time',@mission.MissionId);"><i class="bi bi-pencil-square icon"></i></a></td>
                                <td class="p-2"><a class="nav-link" asp-action="deleteTimesheet" asp-controller="Volunteer" asp-route-id="@mission.TimesheetId"><i class="bi bi-trash3"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col  border p-4 mt-2">
                <div class="d-flex justify-content-between">
                    <span class="align-self-center">Volunteering Goals</span>
                    <button class="apply btn rounded-pill" data-bs-toggle="modal" onclick="getmissions();" data-bs-target="#staticBackdrop2"> + Add</button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Please input below volunteering goal</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" asp-action="VolunteeringTimesheet" asp-controller="Volunteer">

                                    <div class="modal-body">
                                        <div class="d-flex flex-column">
                                            <label for="missionid">Mission</label>
                                            <select id="missionGoal" asp-for="missionid">
                                            </select>
                                            <span asp-validation-for="missionid" class="text-danger"></span>

                                        </div>
                                        <div class="d-flex flex-column mt-2">
                                            <label>Actions</label>
                                            <input type="text" id="action" asp-for="action" />
                                            <span asp-validation-for="action" class="text-danger"></span>

                                        </div>
                                        <div class="d-flex flex-column mt-2">
                                            <label for="date">Date Volunteered</label>
                                            <input type="date" asp-for="date" placeholder="select date" />
                                            <span asp-validation-for="date" class="text-danger"></span>

                                        </div>
                                        <div class="d-flex flex-column">
                                            @* <label>Message</label>
                                            <textarea id="messageGoal" asp-for="message" as placeholder="Enter your message"></textarea>
                                            <span asp-validation-for="message"></span>*@
                                            <label for="message">Message</label>
                                            <textarea asp-for="message" placeholder="Enter your message"></textarea>
                                            <span asp-validation-for="message" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn  apply rounded-pill edit" data-bs-dismiss="modal" >Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="w-100 mt-2">
                    <thead>
                        <tr>
                            <th>Mission</th>
                            <th>Date</th>
                            <th>Action</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mission in Model.GoalMission)
                        {
                            <tr class="timesheetRow">
                                <td id="mission-@mission.MissionId">@mission.Mission.Title</td>
                                <td>@mission.DateVolunteered.ToString("d")</td>
                                <td>@mission.Action</td>
                                <td class="p-2"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" onclick="edit('goal',@mission.MissionId);"><i class="bi bi-pencil-square icon"></i></a></td>
                                <td class="p-2"><a class="nav-link" asp-action="deleteTimesheet" asp-controller="Volunteer" asp-route-id="@mission.TimesheetId"><i class="bi bi-trash3"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <partial name="_footer">

    <script src="~/js/volunteertimesheet.js"></script>
</body>
</html>
