@model CI_PLATFORM.Entities.ViewModels.AddStoryViewmodel;
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="~/css/Shareyourstory.css">


    <title>Landing Page</title>
</head>

<body>

    <partial name="header" model="Model" />
    <div class="shareyourstory">

        <!--First Row Of Navbar is end-->
        <!--Second row is all about static text start-->
        <h1 style="font-weight:200" class="ps-3 mt-4">Share your story</h1>
        <!--Second row is all about static text end-->
        <!--Formsectioni start-->

        <div class="row mx-2 mt-3">
            <div class="col-md-4 mt-1 g-3">
                <label for="mission_id">Select Mission</label>
                <select id="mission_id" onchange="handleMissionChange();" class="form-control mt-1 ">
                    <option>Select your mission</option>
                    @if (Model.missionTitle != null)
                    {
                        <option value="@Model.missionId" id="@Model.missionId" selected>@Model.missionTitle</option>
                    }

                </select>
                <span class="text-danger d-none" id="missionValidate">Select Mission</span>
            </div>
            <div class="col-md-4 mt-1 g-3">
                <label for="inputEmail4">My Story Title</label>
                <input type="text" id="title" class="form-control mt-1" placeholder="Story Title" value="@Model.title">
                <span class="text-danger d-none" id="titleValidate">Enter Story Title</span>

            </div>
            <div class="col-md-4 mt-1 g-3">
                <label for="inputEmail4">Date</label>
                <input type="date" id="date" class="form-control mt-1" placeholder="date" value="@Model.date.ToString("yyyy-MM-dd")">
                <span class="text-danger d-none" id="dateValidate">Select Date</span>

            </div>
        </div>
        <div class="row mx-2 mt-3">
            <div class="col-12 my-3">
                <label for="inputEmail4">Date</label>
                <textarea id="storytext" placeholder="I loved this mission because...">@Html.Raw(@Model.description)</textarea>
                <span class="text-danger d-none" id="storytextValidate">Enter your experience</span>

            </div>
        </div>
        <div class="row mx-2 mt-1">
            <div class="col-12">
                <label for="inputEmail4 ">Enter Video URL</label>
                <input class="form-control mt-1" id="videoURL" type="text" placeholder="Enter video url" value="@Model.videoURL">
                <span class="text-danger d-none" id="videoValidate"></span>

            </div>
        </div>
        <div class="row mx-2 mt-1">
            <div class="col-12">
                <div id="drop-zone" class="w-100">
                    <i class="bi bi-plus-lg" style="font-size: 50px;"></i>
                    <span class="drop-text">Drag and drop images here or click to select</span>
                    <input type="file" id="file-input" multiple accept="image/*,video/*" style="display: none;">
                </div>

                <div id="image-preview">
                </div>
                <span class="text-danger d-none" id="ImageValidate"></span>
                <span id="photoValidate" class="text-danger d-none">Photo Length increases is Required</span>


            </div>
        </div>
        <div class="row mx-2 mt-2">
            <div class="col-12 d-flex justify-content-between">
                <div>
                    <a type="button" class="btn btn-outline-warning" asp-action="volunteerStory" style="border-radius: 50px;">Cancel</a>
                </div>
                <div>
                    @if (Model.missionId == 0)
                    {


                    }
                    else if (Model.status == null)
                    {
                        <button class="btn btn-outline-warning me-2" onclick="saveDraft();" style="border-radius: 50px;">Save</button>

                        <button class="btn btn-outline-warning bg-secondary" style="border-radius: 50px;" id="submit" disabled>Submit</button>

                    }
                    else if (Model.status == "DRAFT")
                    {

                        <button class="btn btn-outline-warning me-2" onclick="saveDraft();" style="border-radius: 50px;">Save</button>

                        <button class="btn btn-outline-warning" onclick="submit(@Model.storyid)" style="border-radius: 50px;" id="submit">Submit</button>

                    }
                    else if (Model.status == "PUBLISHED" || Model.status == "DECLINED" || Model.status == "PENDING")
                    {

                        <button class="btn btn-outline-warning me-2" onclick="Edit(@Model.storyid)" style="border-radius: 50px;">Edit</button>

                    }

                </div>
            </div>
        </div>

    </div>




    <partial name="_footer">

        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
        <script>

            var listData = @Html.Raw(Json.Serialize(Model.imagepaths));
        </script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="/js/Shareyourstory.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        
</body>

</html>