@model CI_PLATFORM.Entities.ViewModels.AddStoryViewmodel;
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="~/css/Shareyourstory.css">


    <title>Landing Page</title>
</head>

<body>

    <partial name="header" model="Model" />
    <div class="shareyourstory">

        <!--First Row Of Navbar is end-->
        <!--Second row is all about static text start-->
        <h1 style="font-weight:200" class="ps-3 mt-4">Share your story</h1>
        <!--Second row is all about static text end-->
        <!--Formsectioni start-->

        <div class="row mx-2 mt-3">
            <div class="col-md-4 mt-1 g-3">
                <label for="mission_id">Select Mission</label>
                <select id="mission_id" onchange="handleMissionChange();" class="form-control mt-1 ">
                    <option>Select your mission</option>
                    @if (Model.missionTitle != null)
                    {
                        <option value="@Model.missionId" id="@Model.missionId" selected>@Model.missionTitle</option>
                    }

                </select>
                <span class="text-danger d-none" id="missionValidate">Select Mission</span>
            </div>
            <div class="col-md-4 mt-1 g-3">
                <label for="inputEmail4">My Story Title</label>
                <input type="text" id="title" class="form-control mt-1" placeholder="Story Title" value="@Model.title">
                <span class="text-danger d-none" id="titleValidate">Enter Story Title</span>

            </div>
            <div class="col-md-4 mt-1 g-3">
                <label for="inputEmail4">Date</label>
                <input type="date" id="date" class="form-control mt-1" placeholder="date" value="@Model.date.ToString("yyyy-MM-dd")">
                <span class="text-danger d-none" id="dateValidate">Select Date</span>

            </div>
        </div>
        <div class="row mx-2 mt-3">
            <div class="col-12 my-3">
                <label for="inputEmail4">Date</label>
                <textarea id="storytext" placeholder="I loved this mission because...">@Html.Raw(@Model.description)</textarea>
                <span class="text-danger d-none" id="storytextValidate">Enter your experience</span>

            </div>
        </div>
        <div class="row mx-2 mt-1">
            <div class="col-12">
                <label for="inputEmail4 ">Enter Video URL</label>
                <input class="form-control mt-1" id="videoURL" type="text" placeholder="Enter video url" value="@Model.videoURL">
                <span class="text-danger d-none" id="videoValidate">Enter video url</span>

            </div>
        </div>
        <div class="row mx-2 mt-1">
            <div class="col-12">
                <div id="drop-zone" class="w-100">
                    <i class="bi bi-plus-lg" style="font-size: 50px;"></i>
                    <span class="drop-text">Drag and drop images here or click to select</span>
                    <input type="file" id="file-input" multiple accept="image/*,video/*" style="display: none;">
                </div>

                <div id="image-preview">
                    @* @if (Model.imagepaths != null)
                    {
                    @foreach (var data in Model.imagepaths)
                    {
                    <div class="image-container">
                    <img class="image-preview" src="@data">
                    <div class="remove-image">&#10006;</div>
                    </div>
                    }
                    }*@
                </div>
                <span class="text-danger d-none" id="ImageValidate"></span>

            </div>
        </div>
        <div class="row mx-2 mt-2">
            <div class="col-12 d-flex justify-content-between">
                <div>
                    <a type="button" class="btn btn-outline-warning" asp-action="volunteerStory" style="border-radius: 50px;">Cancel</a>
                </div>
                <div>
                    @if (Model.missionId == 0)
                    {


                    }
                    else if (Model.status == null)
                    {
                        <button class="btn btn-outline-warning me-2" onclick="saveDraft();" style="border-radius: 50px;">Save</button>

                        <button class="btn btn-outline-warning bg-secondary" style="border-radius: 50px;" id="submit" disabled>Submit</button>

                    }
                    else if (Model.status == "DRAFT")
                    {

                        <button class="btn btn-outline-warning me-2" onclick="saveDraft();" style="border-radius: 50px;">Save</button>

                        <button class="btn btn-outline-warning" onclick="submit(@Model.storyid)" style="border-radius: 50px;" id="submit">Submit</button>

                    }
                    else if (Model.status == "PUBLISHED" || Model.status == "DECLINED")
                    {

                        <button class="btn btn-outline-warning me-2" onclick="Edit(@Model.storyid)" style="border-radius: 50px;">Edit</button>

                    }

                </div>
            </div>
        </div>

    </div>




    <partial name="_footer">

        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
        <script>
            getmissions();
            tinymce.init({
                selector: '#storytext',
                plugins: 'link image code',
                toolbar: 'undo redo | bold italic | fontsizeselect | alignleft aligncenter alignright alignjustify | superscript subscript ',
                height: 300
            });

            function getmissions() {
                var mission = $('#mission_id').val();
                $.ajax({
                    url: "/volunterrstory/missions",
                    type: "GET",
                    success: function (result) {
                        $(result).each(function (i, data) {
                            if (data.missionId != mission) {
                                $('#mission_id').append('<option value="' + data.missionId + '" id="' + data.missionId + '">' + data.title + '</option>')
                            }
                        })
                    }
                })
            }



            function saveDraft() {
                const missionId = $("#mission_id").val();
                const title = $("#title").val();
                const date = $("#date").val();
                const video = $("#videoURL").val();
                var textarea = tinymce.get("storytext").getContent();
                var description = textarea.substring(3, textarea.length - 4);
                const imagePaths = [];
                const images = $('#image-preview');
                const image_tag = images.find("img");
                $('#image-preview img').each(function () {
                    console.log(typeof ($(this).attr('src')));
                    imagePaths.push($(this).attr('src'));
                })
                if (isValidated()){
                    $.ajax({
                        url: "/VolunterrStory/Shareyourstory",
                        type: "POST",
                        data: {
                            missionId: missionId,
                            title: title,
                            date: date,
                            videoURL: video,
                            description: description,
                            imagePaths: imagePaths,

                        },
                        success: function (result) {
                            window.location = result.redirectUrl;
                            //$('#submit').removeClass('bg-secondary');
                            //$('#submit').removeAttr('disabled')
                            console.log("data drafted")
                        }
                    })
                }
            }
            function handleMissionChange() {
                const missionid = document.getElementById("mission_id").value;
                $.ajax({
                    url: '/VolunterrStory/loadaddstory',
                    type: "GET",
                    data: {
                        missionid: missionid,
                    },
                    success: function (result) {
                        window.location = result.redirectUrl;
                    }
                })
            }
            function submit(storyid) {

                $.ajax({
                    url: "/VolunterrStory/submit",
                    type: "POST",
                    data: {
                        storyid: storyid,
                    },
                    success: function (result) {
                        window.location = result.redirectUrl;

                    }
                })
            }

            function Edit() {
                const missionId = $("#mission_id").val();
                const title = $("#title").val();
                const date = $("#date").val();
                const video = $("#videoURL").val();
                var textarea = tinymce.get("storytext").getContent();
                var description = textarea.substring(3, textarea.length - 4);
                const imagePaths = [];
                const images = $('#image-preview');
                const image_tag = images.find("img");
                $('#image-preview img').each(function () {
                    console.log(typeof ($(this).attr('src')));
                    imagePaths.push($(this).attr('src'));
                })

                if (isValidated()) {
                    console.log("hello");

                    $.ajax({
                        url: "/VolunterrStory/Edit",
                        type: "POST",
                        data: {
                            missionId: missionId,
                            title: title,
                            date: date,
                            videoURL: video,
                            description: description,
                            imagePaths: imagePaths,

                        },
                        success: function (result) {
                            window.location = result.redirectUrl;
                            //$('#submit').removeClass('bg-secondary');
                            //$('#submit').removeAttr('disabled')
                            console.log("data edited")
                        }
                    })
                }
            }

            function isValidated() {
                console.log("hello");
                const missionId = $("#mission").val();
                const title = $("#title").val();
                const date = $("#date").val();
                const video = $("#videoURL").val();
                var textarea = tinymce.get("storytext").getContent();
                const imagePaths = [];
                validate = true;
                if (missionId == "") {
                    validate = false;
                    $('#missionValidate').removeClass('d-none');
                } else {
                    $('#missionValidate').addClass('d-none');
                }
                if (title == "") {
                    validate = false;
                    $('#titleValidate').removeClass('d-none');
                } else {
                    $('#titleValidate').addClass('d-none');
                }
                if (date == "") {
                    validate = false;
                    $('#dateValidate').removeClass('d-none');
                } else {
                    $('#dateValidate').addClass('d-none');
                }
                if (video == "") {
                    validate = false;
                    $('#videoValidate').removeClass('d-none');
                } else {
                    $('#videoValidate').addClass('d-none');
                }
                if (textarea == "") {
                    validate = false;
                    $('#storytextValidate').removeClass('d-none');
                } else {
                    $('#storytextValidate').addClass('d-none');
                }
                if (imagePaths.length > 20) {
                    validate = false;
                    $('#ImageValidate').removeClass('d-none');
                } else {
                    $('#ImageValidate').addClass('d-none');
                }
                return validate;
            }

            $('input').keyup(function () {
                isValidated();
            })

            $('input').click(function () {
                isValidated();
            })

            $('input').change(function () {
                isValidated();
            })
            $('select').change(function () {
                isValidated();
            })

            $('#storytext').keyup(function () {
                isValidated();
            })

            $('#storytext').click(function () {
                isValidated();
            })
            var listData = @Html.Raw(Json.Serialize(Model.imagepaths));
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="/js/Shareyourstory.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        @*        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
        *@
        <a href="~/lib/jquery/dist/jquery.min.map"></a>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
</body>

</html>