@model CI_PLATFORM.Entities.ViewModels.StoryViewModel;
@using X.PagedList.Mvc.Core;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story listing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/volunterrstorycss.css">
</head>

<body>
    <partial name="header" model="Model" />
    <div class="shareStory">
        <img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png" alt="" id="img">
        <div class="overlay">
            <div class="text">
                <p class="d-none d-sm-block">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eum aut voluptates accusamus repellat similique, rem libero, cumque, saepe repudiandae temporibus. Officia, odio. Exercitationem nostrum provident quae quaerat excepturi doloribus!
                </p>
                <a class="btn border rounded-pill py-1 px-2 text-light" asp-action="Shareyourstory" asp-controller="VolunterrStory">Share your Story <img src="~/Assets/right-arrow.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mx-auto mt-1 mb-3" id="storyresult">
        @foreach (var story in Model.Stories)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="d-flex flex-column position-relative shareStory">
                        <img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="card-img-top" alt="Skyscrapers" />
                        <div class="overlay">
                            <div class="text">
                                <a class="btn border rounded-pill py-1 px-2 text-light" asp-action="storydetails" asp-controller="VolunterrStory" asp-route-Id="@story.StoryId">view Details <img src="~/Assets/right-arrow.png" alt="" srcset=""></a>
                            </div>
                        </div>
                        @{
                            var theme = Model.Missions.SingleOrDefault(m => m.MissionId == story.MissionId);
                        }
                        <div class="position-absolute title rounded-pill border mx-auto px-2">@theme.Theme.Title</div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@story.Title</h5>
                        <p class="card-text truncate">
                            @story.Description
                        </p>
                        <div class="d-flex">
                            <img src="~/Assets/volunteer1.png" class="rounded-circle volunteer-img" alt="">
                            <p class="my-auto">&nbsp; @story.User.FirstName @story.User.LastName</p>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
       @* <div class="shareStory">
            <img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="" id="img">
            <div class="overlay">
                <div class="text">
                    <p class="d-none d-sm-block">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eum aut voluptates accusamus repellat similique, rem libero, cumque, saepe repudiandae temporibus. Officia, odio. Exercitationem nostrum provident quae quaerat excepturi doloribus!
                    </p>
                    <a class="btn border rounded-pill py-1 px-2 text-light" asp-action="Shareyourstory" asp-controller="VolunterrStory">Share your Story <img src="~/Assets/right-arrow.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
    <div class="">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 p-3 mx-auto mt-1">
            @foreach (var story in Model.Stories)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="d-flex flex-column position-relative shareStory">
                            <img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="card-img-top" alt="Skyscrapers" />
                            <div class="overlay">
                                <div class="text">
                                    <a class="btn border rounded-pill py-1 px-2 text-light" asp-action="storydetails" asp-controller="VolunterrStory" asp-route-Id="@story.StoryId">View Details <img src="~/Assets/right-arrow.png" alt="" srcset=""></a>
                                </div>
                            </div>
                            @{
                                var theme = Model.Missions.SingleOrDefault(m => m.MissionId == story.MissionId);
                            }
                            <div class="position-absolute title rounded-pill border mx-auto px-2">@theme.Theme.Title</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@story.Title</h5>
                            <p class="card-text truncate">
                                @story.Description
                            </p>
                            <div class="d-flex">
                                <img src="~/Assets/volunteer1.png" class="rounded-circle volunteer-img" alt="">
                                <p class="my-auto">&nbsp; @story.User.FirstName @story.User.LastName</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>*@
    <div id="model" data-pageindex="@Model.Stories.PageNumber"></div>

    <div class="d-flex justify-content-between mx-5 pagestory">
        @if (Model.Stories.PageCount > 1)
        {
            <div id="cnt" class="border px-2 h-100 rounded"></div>
            <ul class="pagination">

                @if (Model.Stories.HasPreviousPage)
                {
                    <li class="page-item"> <a class="page-link" id="@Convert.ToInt32(@Model.Stories.PageNumber -1)"> &#60;&#60; </a></li>
                }
                else
                {
                    <div class="page-item"> <a class="page-link disabled"> &#60;&#60; </a></div>
                }
                @for (int i = 1; i <= Model.Stories.PageCount; i++)
                {
                    if (i == Model.Stories.PageNumber)
                    {
                        <li class="page-item active"><a class="page-link" id="@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" id="@i">@i</a></li>
                    }

                }
                @if (Model.Stories.HasNextPage)
                {
                    <li class="page-item"><a class="page-link" id="@Convert.ToInt32(@Model.Stories.PageNumber + 1)"> >></a></li>
                }
                else
                {
                    <div class="page-item"><a class="page-link disabled" id="@Convert.ToInt32(@Model.Stories.PageNumber + 1) "> >></a></div>
                }


            </ul>
        }
    </div>
    <div id="model" data-pageindex="@Model.Stories.PageNumber"></div>



    <script src="~/js/VolunteerStory.js"></script>
</body>

</html>