@model CI_PLATFORM.Entities.ViewModels.Adminviewmodel
@{
    Layout = "~/Views/Admin/UserpageInAdmin.cshtml";
}
<!-- user page  -->
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/userpartail.css">
</head>
<body>
    <h4 class="mt-2 ms-3 border-bottom pb-3">
        <span class="borderbottom">User</span>
    </h4>
    <div class=" ms-2 d-flex justify-content-between mt-4 position-sticky">
        <div class="col-6 position-relative" role="search">
            <img src="~/Assets/search.png" alt="search-icon" class="position-absolute pt-2 ps-1">
            <input class="form-control me-2 ps-5" id="search" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-4  d-flex justify-content-end">
            <button class="px-3 btn btn-warning rounded-pill"> <a asp-action="useradd" class="text-decoration-none text-white" asp-controller="Admin">+ Add</a></button>
        </div>
    </div>

    <div class="table-responsive">

        @if (Model.users.Count() == 0)
        {
              <div class="page"> </div>
            <div class="d-flex mt-5 flex-column my-3 table">
                <div class="mx-auto mt-3 d-flex" id="nouserbgcolor"><h3 class="text-center mx-auto text-color">No user found</h3></div>
            </div>

        }

        else
        {
            <div class="table">
                <table class="table">
                    @if (Model.users.Count() == 0)
                    {
                        <div class="d-flex mt-5 flex-column" id="nouser">
                            <div class="mx-auto">
                                <h3>No user found</h3>
                            </div>
                        </div>
                    }
                    <thead>
                        <tr>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Employee id</th>
                            <th scope="col">Department</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>


                    <tbody>

                        @foreach (var user in Model.users)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                                <td>@user.EmployeeId</td>
                                <td>@user.Department</td>
                                @{
                                    if (@user.Status == 0)
                                    {
                                        <td id="inactive">In-active</td>
                                    }
                                    else
                                    {
                                        <td id="active">Active</td>
                                    }
                                }
                                <td class="d-flex">
                                    <button class="btn border-0">
                                        <a asp-action="edituser" asp-controller="Admin" asp-route-id="@user.UserId">
                                            <i class="bi bi-pencil-square icon" onclick="showModal(@user.UserId)"></i>
                                        </a>
                                    </button>
                                    <a class="nav-link text-black deleteUser p-2" onclick="showModal(@user.UserId)" type="button"><i class="bi bi-trash3"></i></a>
                                </td>

                            </tr>

                        }


                    </tbody>


                </table>
            </div>
            <div class="d-flex justify-content-center page">
                @if (Model.users.PageCount > 1)
                {
                    <ul class="pagination useli">

                        @if (Model.users.HasPreviousPage && Model.users.PageNumber > 1)
                        {
                            <li class="page-item"> <a class="page-link" id="@Convert.ToInt32(@Model.users.PageNumber -1)"> &#60;&#60; </a></li>
                        }
                        else
                        {
                            <div class="page-item"> <a class="page-link disabled" id="@Convert.ToInt32(@Model.users.PageNumber -1)"> &#60;&#60; </a></div>
                        }
                        @for (int i = 1; i <= Model.users.PageCount; i++)
                        {
                            if (i == Model.users.PageNumber)
                            {
                                <li class="page-item usactive"><a class="page-link" id="@i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" id="@i">@i</a></li>
                            }

                        }
                        @if (Model.users.HasNextPage && Model.users.PageNumber < Model.users.PageCount)
                        {
                            <li class="page-item"><a class="page-link" id="@Convert.ToInt32(@Model.users.PageNumber + 1)"> >></a></li>
                        }
                        else
                        {
                            <div class="page-item"><a class="page-link disabled" id="@Convert.ToInt32(@Model.users.PageNumber + 1) "> >></a></div>
                        }


                    </ul>
                }

            </div>
        }



    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/userpartial.js"></script>
</body>