@model CI_PLATFORM.Entities.ViewModels.UserAddViewModel
@{
    Layout = "~/Views/Admin/UserpageInAdmin.cshtml";
}

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/useraddpartial.css">
</head>
<body>
    <div class="container">
        <div class="row mt-4 gap-2">
            <form method="post" asp-action="AddUser" asp-controller="Admin" enctype="multipart/form-data">
                <div class="col-12 text-center">

                    <div class="adjust img-wrapper">
                        @if (Model == null)
                        {
                            <img src="~/Assets/user1.png" style="width:10%" class="rounded-circle mt-3" id="profileimg" alt="">

                        }
                        else
                        {
                            <img src="@Model.avtar" style="width:10%" class="rounded-circle mt-3" id="profileimg" alt="">
                        }
                        <span id="boot-icon" class="bi bi-pencil icon d-none" style="font-size: 31px; color: rgb(0, 0, 0); opacity: 1; -webkit-text-stroke-width: 0.5px;"></span>
                        <input type="file" id="file-input" style="display:none" asp-for="Avatar">
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12 border-bottom">
                            BASIC INFORMATION
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="d-flex flex-column">
                                    <span>Name</span>
                                    <input type="text" asp-for="@Model.FirstName" class="form-control">
                                    <span class="text-danger" asp-validation-for="FirstName"></span>
                                </div>
                            </div>
                            <input asp-for="@Model.UserId" hidden />
                            <div class="col-sm-6">
                                <div class="d-flex flex-column">
                                    <span>Surname</span>
                                    <input type="text" asp-for="@Model.LastName" class="form-control">
                                    <span class="text-danger" asp-validation-for="LastName"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <div class="d-flex flex-column">
                                    <span>Employee ID</span>
                                    <input type="text" asp-for="@Model.EmployeeId" class="form-control">
                                    <span class="text-danger" asp-validation-for="EmployeeId"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <div class="d-flex flex-column">
                                    <span>Email</span>
                                    <input type="text" asp-for="Email" class="form-control">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                            </div>


                            <div class="col-sm-6 mt-2">
                                <div class="d-flex flex-column">
                                    <span>Department</span>
                                    <input type="text" asp-for="Department" class="form-control">
                                    <span class="text-danger" asp-validation-for="Department"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <div class="d-flex flex-column position-relative">
                                    <span>Password</span>
                                    <input type="text" id="password" asp-for="Password" class="form-control">
                                    <span onclick="password();" class="position-absolute bottom-0 end-0 mb-1 me-1 "><i class="bi bi-eye-slash"></i></span>
                                </div>
                                <span class="text-danger" asp-validation-for="Password"></span>

                            </div>

                            <div class="col-12">
                                <div class="d-flex flex-column">
                                    <span>profile</span>
                                    <textarea id="" cols="30" rows="5" asp-for="ProfileText" class="form-control">@Model.ProfileText</textarea>
                                    <span class="text-danger" asp-validation-for="ProfileText"></span>

                                </div>
                            </div>


                        </div>

                        <div class="row mt-3">
                            <div class="col-12 border-bottom">
                                Address Information
                            </div>
                            @if (Model == null)
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="d-flex flex-column">
                                            <span>City</span>
                                            <select id="usercityselect" asp-for="CityId" class="form-control">
                                                <option value=""> Select city</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="CityId"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex flex-column">
                                            <span>Country</span>

                                            <select id="usercountryselect" asp-for="CountryId" class="form-control">
                                                <option value="">Select country</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="CountryId"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="d-flex flex-column">
                                            <span>City</span>
                                            <select id="usercityselect" asp-for="CityId" class="form-control" asp-items="@Model.cities">
                                                <option value="">Select city</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="CityId"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex flex-column">
                                            <span>Country</span>

                                            <select id="usercountryselect" asp-for="CountryId" class="form-control" asp-items="@Model.countries">
                                                <option value="">Select country</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="CountryId"></span>

                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="row mt-3">
                            <div class="col-12 border-bottom">
                                Personal Infromation
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex flex-column">
                                        <label for="status">Status</label>
                                        <select class="form-select dropdown-toggle" id="status" asp-for="Status">
                                            <option value="1" selected>Active</option>
                                            <option value="0">In-Active</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex flex-column">
                                        <span>Linkdin</span>
                                        <input type="text" asp-for="LinkedInUrl" class="form-control">
                                        <span class="text-danger" asp-validation-for="LinkedInUrl"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn bg-warning btn-hover-warning text-white rounded-pill">Cancel</button>
                            <button type="submit" class="btn bg-warning btn-hover-warning text-white rounded-pill">Submit</button>
                        </div>
            </form>

        </div>

    </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/js/useraddpartail.js"></script>
</body>

<partial name="_ValidationScriptsPartial" />
